        body, html{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:#EEE;
        }
        h1, h2, h3, h4, p, a, li, ul {
            font-family: aerial, san-serif;
            color: block;
            text-decoration: none;
        }
        #nav{
            margin:50px auto 0 auto;
            width: 1000px;
            background-color: #888;
            height: 15px;
            padding: 20px;
        }
        #nav ul{
            list-style: none;
            float: left;
            margin: 0 20px;
        }
        #nav a:hover {
            color: green;
        }
        #nav ul li{
            font-size: 16px;
            display: inline;
            padding: 10px;
        }
        #content{
            width: 1000px;
            min-height: 100%;
            margin: 0 auto;
            padding: 20px;
        }
        #footer{
            postion: absolute;
            bottom: 30px;
            width: 400px;
            margin: 0 auto;
            padding: 20px;
        }
        #footer p{
            color: #777;
        }
